body {background-color: blueviolet;
}
header {background-color: white;
    color:white

}

 cabecalho{
    background-color: aquamarine;
    color: blue;
    display: flex;
    justify-content: space-around;
 }
 .cabecalho_imagen{

 }
 .cabecalho-lista-imagen{

 }